.header {
  /* background: #A1F07A; */
  background-image: url('../images/code.jpg');
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;

  a {
    text-decoration: none;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}

.mark {
  margin-right: 5px;
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #3090C7;
  margin-left: 5px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

.text {
  font-size: 18px;
  color: white;
}

.logo {
  position: relative;
  z-index: 1;
}

.logo::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: -0.25em;
  right: -0.25em;
  background-color: rgba(48, 144, 199, 0.5);
  transform-origin: bottom center;
  transform: scaleY(0.1);
  transition: all 0.1s ease-in-out;
}

.logo:hover::before {
  transform: scaleY(1);
  background-color: rgba(48, 144, 199, 0.5);;
}


.right {
  display: flex;
  position: relative;
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
