.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.icon {
  fill: currentColor;
}

.label {
  position: relative;
  display: inline-block;
  margin-left: 4px;
  line-height: 1;
}
